@use './variables' as *;

#buy-product-banner {
    background-image: linear-gradient(to top, $s-color-dark, transparent), url('/src/assets/img/banner2-2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $s-color-light;
    h2 {
        font-size: 4rem;
        max-width: 60%;
    }
    p{
        max-width: 60%;
    }
}