@use './variables' as *;

#mailing-list {
    background: linear-gradient(to right, $s-color-dark 40%, transparent), url('/src/assets/img/banner1-2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $s-color-light;

    h2 {
        font-size: $s-text-xxl;
        color: $s-color-secondary;
    }

    h3 {
        margin-top: 1.5rem;
        font-size: 3.5rem;
    }

    input {
        padding: .75rem 1.75rem;
        width: 100%;
    }

    button {
        // padding-left: 5rem;
        // padding-right: 5rem;
        width: 100%;
    }

    p {
        color: $s-color-muted;
    }
}

@media screen and (min-width: 992px) {
    h3 {
        max-width: 70%;
    }

    p {
        max-width: 80%;
    }
}