@use './variables' as *;

section {
    padding: 6rem 0;
    background: linear-gradient(to right, $s-color-dark 40%, transparent), url('/src/assets/img/slider82x-scaled.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .jumbo {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        color: $s-color-light;

        h1 {
            font-size: 3.75rem;
        }

        h2 {
            font-size: $s-text-xl;
            color: $s-color-secondary;
        }

        p {
            color: $s-color-muted;
        }
    }
}