// -------------- Color palette

$color-cod_gray: #060606;
$color-white: #ffffff;
$color-windsor: #6b0c7a;
$color-monza: #bc0428;
$color-silver: #bcbcbc;
$color-dodger_blue: #4154fe;
$color-jumbo: #78787a;
$color-astrounat_blue: #014461;
$color-burnt_sienna: #ec5a57;
$color-verdun_green: #504e00;
$color-oriental_pink: #bc8b96;
$color-cinder: #0d0b12;
$color-cosmic: #683551;
$color-daisy_bush: #4321aa;
$color-sea_nymph: #709e9c;
$color-shiraz: #a00644;
$color-mongoose: #b6967e;
$color-blue_gem: #4613a0;
$color-cocoa_brown: #362428;
$color-royal_blue: #4257ef;
$color-yellow: #fef841;

// -------------- Selected colors

$s-color-dark: $color-cod_gray;
$s-color-light: $color-white;
$s-color-muted: $color-jumbo;
$s-color-primary: $color-royal_blue;
$s-color-secondary: $color-burnt_sienna;
$s-color-youtube: $color-monza;
$s-color-accent: $color-yellow;

$s-text-xs: .6rem;
$s-text-sm: .8rem;
$s-text-md: 1rem;
$s-text-lg: 1.2rem;
$s-text-xl: 1.5rem;
$s-text-xxl: 1.8rem;

$s-light: 300;
$s-regular: 400;
$s-bold: 700;
